@{
    ViewData["Title"] = "Details";
}

<h1>Review Info:</h1>
<ul>
    <li>ID: @Model.ReviewId</li>
    <li>Title: @Model.Title</li>
    <li>Content: @Model.Content</li>
    <li>Rating: @Model.Rating</li>
</ul>
<br>

<a href="/Reviews/Edit/@(Model.ReviewId)"><p>Edit</p></a>
<br>

<a href="/Reviews"><p>Return</p></a>

<a href="/Reviews/Delete/@(Model.ReviewId)"><p>DELETE REVIEW</p></a>