<h1>Edit Info:</h1>
<form action="/Reviews/Details/@(Model.ReviewId)" method="post">
  <label for="destinationId">Review's DestinationId</label>
  <input id="destinationId" name="destinationId" type="number" value="@(Model.DestinationId)">
  <label for="title">Review's Title</label>
  <input id="title" name="title" type="text" value="@(Model.Title)">
  <label for="content">Review's Content</label>
  <input id="content" name="content" type="text" value="@(Model.Content)">
  <label for="rating">Review's Rating</label>
  <input id="rating" name="rating" type="number" value="@(Model.Rating)">
  <button type="submit">Go!</button>
</form>

<a href="/Reviews/Details/@(Model.ReviewId)"><p>Return to Details</p></a>